<launch>
    <!-- what config we are going to run (should match folder name) -->
    <arg name="verbosity"   default="INFO" />           <!-- ALL, DEBUG, INFO, WARNING, ERROR, SILENT -->
    <arg name="config"      default="stihl_stereo-inertial_oak-d_internal" />     <!-- euroc_mav, tum_vi, rpng_aruco -->
    <arg name="config_path" default="$(find ov_msckf)/../config/Stereo-Inertial/$(arg config)/estimator_config.yaml" />

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="2" />
    <arg name="use_stereo"  default="true" />
    <arg name="bag_start"   default="0" />              <!-- v1-2: 0, mh1: 40, mh2: 35, mh3: 17.5, mh4-5: 15 -->
    <arg name="duration"    default="10000" />
    <arg name="bag_rate"    default="1" />
    <arg name="dataset"     default="stihl" />          <!-- V1_01_easy, V1_02_medium, V2_02_medium -->
    <arg name="do_bag"      default="false" />          <!-- if we should play back the bag -->
    <arg name="bag"         default="" />

    <!-- saving trajectory path and timing information -->
    <arg name="do_save_traj"        default="false" />
    <arg name="do_save_resource"    default="false" />
    <arg name="do_save_timing"      default="false" />
    <arg name="traj_file_name"      default="" />
    <arg name="resource_file_name"  default="resource_usage.csv" />
    <arg name="timing_file_name"    default="timing.txt" />

    <!-- if we should viz the groundtruth -->
    <arg name="show_rviz"   default="true" />
    <arg name="dolivetraj"  default="false" />
    <arg name="path_gt"     default="" />

    <!-- enable loop closure detection and correction -->
    <arg name="do_lc"               default="false" />
    <arg name="lc_config_path"      default="$(find loop_fusion)/../config/master_config.yaml" />

    <group if="$(arg show_rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/rviz/stihl.rviz" />
    </group>

    <!-- MASTER NODE -->
    <node name="ov_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen" clear_params="true" required="true">
        <!-- master configuration object -->
        <param name="verbosity"     type="string"   value="$(arg verbosity)" />
        <param name="config_path"   type="string"   value="$(arg config_path)" />

        <!-- world/filter parameters -->
        <param name="use_stereo"    type="bool" value="$(arg use_stereo)" />
        <param name="max_cameras"   type="int"  value="$(arg max_cameras)" />

        <!-- timing statistics recording -->
        <param name="record_timing_information" type="bool"     value="$(arg do_save_timing)" />
        <param name="record_timing_filepath"    type="string"   value="$(arg timing_file_name)" />
    </node>

    <!-- play the dataset -->
    <group if="$(arg do_bag)">
        <node pkg="rosbag" type="play" name="rosbag" args="-d 1 -r $(arg bag_rate) -s $(arg bag_start) -u $(arg duration) $(arg bag)" required="true"/>
    </group>

    <!-- record the trajectory if enabled -->
    <group if="$(arg do_save_traj)">
        <group unless="$(arg do_lc)">
            <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
                <param name="topic"         type="str"  value="/ov_msckf/poseimu" />
                <param name="topic_type"    type="str"  value="PoseWithCovarianceStampedTUM" />
                <param name="output"        type="str"  value="$(arg traj_file_name)" />
            </node>
        </group>
    </group>

    <!-- path viz of aligned gt -->
    <group if="$(arg dolivetraj)">
        <node name="live_align_trajectory" pkg="ov_eval" type="live_align_trajectory" output="log" clear_params="true">
            <param name="alignment_type"    type="str"  value="posyaw" />
            <param name="path_gt"           type="str"  value="$(arg path_gt)" />
        </node>
    </group>

    <!-- Loop Closure Detection and Correction -->
    <group if="$(arg do_lc)">
        <node name="loop_fusion_node" pkg="loop_fusion" type="loop_fusion_node" output="screen" args="$(arg lc_config_path)" required="true">
            <!-- INPUT: keyframe poses / marginalized poses -->
            <remap from="/cam0/image_raw"                  to="/oak_d/image_left"/>
            <remap from="/vins_estimator/extrinsic"        to="/ov_msckf/loop_extrinsic"/>
            <remap from="/vins_estimator/keyframe_point"   to="/ov_msckf/loop_feats"/>
            <remap from="/vins_estimator/keyframe_pose"    to="/ov_msckf/loop_pose"/>
            <remap from="/vins_estimator/intrinsics"       to="/ov_msckf/loop_intrinsics"/>

            <!-- INPUT: current system pose and points -->
            <remap from="/vins_estimator/pose"             to="/ov_msckf/poseimu"/>

            <!-- OUTPUT: visualization topics -->
            <remap from="/loop_fusion_node/match_image"    to="/ov_secondary/match_image"/>
            <remap from="/loop_fusion_node/pose_rect"      to="/ov_secondary/poseimu"/>
            <remap from="/loop_fusion_node/odometry_rect"  to="/ov_secondary/odomimu"/>
        </node>

        <!-- OOUTPUT: path viz of loop closure -->
        <group if="$(arg do_save_traj)">
            <node name="recorder_estimate3" pkg="loop_fusion" type="save_trajectory_node.py" output="screen" required="true">
                <param name="file_name"   type="string"   value="$(arg traj_file_name)" />
            </node>
        </group>
    </group>

    <group if="$(arg do_save_resource)">
        <include file="$(find cpu_monitor)/launch/cpu_monitor.launch">
            <arg name="csv_file" value="$(arg resource_file_name)"/>
        </include>
    </group>

</launch>
